/.idea/.name
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/copyright
/.idea/workspace.xml
/.idea/copyright/profiles_settings.xml
/debugmyhttp.iml
/.idea/
/.idea
/.idea/uiDesigner.xml
