.footer {
    background-color: #464646;
    color: #bababa;
    border-top: 1px solid #000;
    width: 100%;
    min-height: 80px;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.navbar-inverse {
    border-radius: 0px;
}

.centereddiv {
    width: 50%;
    margin: 0 auto;
}

.inlinelist ul
{
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.inlinelist ul li {
    display: inline;
    margin-left: 70px;
}

#log {
    overflow-y: auto;
    min-height: 600px;
}

.nopadding {
    padding: 0px !important;
}

pre.httprequest_container {
    margin: 0 0 0px;
    background-color: transparent;
}

.httprequest_container {
    font-size: 11px;
    border: 0px none !important;
}

.httprequest_header {
    padding: 10px;
    background-color: #d3d3d3;
    color: black;
    font-weight: bold;
}

.status_text span {
    font-weight: bold;
}

.status_text {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    color: #bababa;
}

#socket_status {
    display: none;
}

.panel-title.small-font {
    font-size: 12px;
}

#status_bar table td {
    vertical-align: middle;
}

@media only screen and (max-width: 750px) {
    .flexy-column {
        width: 600px !important;
    }


}

@media only screen and (max-width: 650px) {
    .flexy-column {
        width: 550px !important;
    }

    #marker_key_field {
        width: 300px;
        float: right;
    }
}

@media only screen and (max-width: 550px) {
    .flexy-column {
        width: 400px !important;
    }

    #marker_key_field {
        width: 200px;
        float: right;
    }
}

@media only screen and (max-width: 450px) {
    .flexy-column {
        width: 350px !important;
    }

    #marker_key_field {
        width: 150px;
        float: right;
    }
}
