body {
    background-color: #464646;
}

div.light_background {
    background-color: #FFF;
    padding-top: 20px;
}

div.comments_area {
    background-color: #FFF;
}

.navbar {
    margin-bottom: 0px !important;
}

.footer {
    background-color: #464646;
    color: #bababa;
    border-top: 1px solid #000;
    width: 100%;
    min-height: 80px;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.navbar-inverse {
    border-radius: 0px;
}

.centereddiv {
    width: 70%;
    margin: 0 auto;
}

.donationsdiv {
    width: 480px;
    margin: 0 auto;
    line-height: 60px;
}

.inlinelist ul
{
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.inlinelist ul li {
    display: inline;
    margin-left: 70px;
}

#log {
    overflow-y: auto;
    min-height: 300px;
}

.nopadding {
    padding: 0px !important;
}

pre.httprequest_container {
    margin: 0 0 0px;
    background-color: transparent;
}

.httprequest_container {
    font-size: 12px;
    border: 0px none !important;
}

.httprequest_header {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    background-color: #d3d3d3;
    color: black;
    font-size: 14px;
    border-bottom: none !important;
    padding: 6px 9px 3px;
}

.httprequest_panel {
    margin-bottom: 9px !important;
}

pre code {
    background-color: transparent !important;
}

.status_text span {
    font-weight: bold;
}

.status_text {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    color: #bababa;
}

#socket_status {
    display: none;
}

#toolbar_indicator {
    display: none;
}

.panel-title.small-font {
    font-size: 12px;
}

#status_bar table td {
    vertical-align: middle;
}

@media only screen and (max-width: 750px) {
    .flexy-column {
        width: 600px !important;
    }
}

@media only screen and (max-width: 650px) {
    .flexy-column {
        width: 550px !important;
    }

}

@media only screen and (max-width: 600px) {
    .flexy-column {
        width: 500px !important;
    }
}

@media only screen and (max-width: 550px) {
    .flexy-column {
        width: 400px !important;
    }
}

@media only screen and (max-width: 450px) {
    .flexy-column {
        width: 350px !important;
    }
}

@media only screen and (max-width: 480px) {
    .donationsdiv {
        width: 90% !important;
    }
}

.httprequest_body {
    display: none;
    border-top: 1px solid #ddd;
}

.httprequest_header:hover {
    background-color: #3a3636;
    color: #e5e5e5;
    cursor: pointer;
}



.COINWIDGETCOM_CONTAINER > a {
    height: 21px !important;
}

.COINWIDGETCOM_CONTAINER > span {
    min-height: 21px !important;
}