<footer class="footer">
    <div class="centereddiv">
        <div class="inlinelist">
            <ul class="" style="margin-right: 0px;">
                <li class=""><img src="http://placehold.it/50x50"></li>
                <li class=""><img src="http://placehold.it/50x50"></li>
                <li class=""><img src="http://placehold.it/50x50"></li>
                <li class=""><img src="http://placehold.it/50x50"></li>
            </ul>
        </div>
        <div class="centereddiv" style="width: 150px;">© Efstratios Goudelis</div>
    </div>
</footer>