<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug your HTTP calls from your iOS, Android, website and backend system</title>

    {% include head_section.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">

        $(document).ready(function () {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });

            var clipboard = new Clipboard('.copy-button');

            clipboard.on('success', function(e) {

            });


            // set the hostname in the examples
            $('span.self_hostname').html(getCurrentPageHostname());

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

        });

        function getMarkerKey(el) {
            var marker_key_field = $('#' + el);
            $.getJSON('//' + document.location.hostname + ":" + document.location.port + '/generatekey', function (data) {
                if (data['key']) {
                    marker_key_field.val(data['key']);
                    $('#showmethecallsbutton').removeClass('disabled');
                } else if (data['error']) {
                    marker_key_field.val(data['error']);
                }
            });
        }

        function getKeyGoLoggerPage(button) {
            var button = $(button);
            $.getJSON('//' + document.location.hostname + ":" + document.location.port + '/generatekey', function (data) {
                if (data['key']) {
                    window.location.href = '//' + document.location.hostname + ":" + document.location.port + '/log/' + data['key'];
                } else if (data['error']) {
                    button.addClass('btn-danger').removeClass('btn-primary').addClass('disabled');
                    button.html(data['error']);
                }
            });
        }

        function gotoLoggerPage() {
            var marker_key = $('#marker_key_field').val();
            if(marker_key) {
                window.location.href = '//' + document.location.hostname + ":" + document.location.port + '/log/' + marker_key;
            }
        }
    </script>

    <style type="text/css">

    </style>

</head>

<body>
{% include navbar.html %}

<div class="light_background">

    <div class="container">
        <div class="row">
            <div class="col-md-14">

                <h1 class="text-center">Want to debug your HTTP calls made by your apps? </h1>
                <h3 class="text-center">Get a key and use it in your HTTP calls</h3>

                <br/>
                <br/>

                <p class="text-center">
                    <button onclick="getKeyGoLoggerPage(this);" type="button" data-placement="top" title="Click here to go to the capture page" class="btn btn-primary btn-lg">Get your
                        test URL
                    </button>
                </p>

                <p class="text-center"><strong>- or -</strong></p>

                <div class="flexy-column" style="width: 600px; margin: 0 auto;">

                    <p class="text-center">Get your key and use it anywhere in your HTTP call:</p>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                <button data-toggle="tooltip" data-placement="top" title="Click here to get a new marker key to use in your application" onclick="getMarkerKey('marker_key_field');" class="btn btn-success">Get marker key</button>
                                </div>
                                <input id="marker_key_field" type="text" class="form-control" disabled placeholder="HTTP marker key" style="text-align:center;">
                                <span class="input-group-btn">
                                <button class="btn btn-primary copy-button" data-clipboard-target="#marker_key_field">copy</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>

                <div class="flexy-column row" style="width: 600px; margin: 0 auto;">

                    <p class="">
                        In your path:
                    </p>
                        <pre><code class="url">http://<span class="self_hostname"></span>/testmycall/newdata/<strong>&lt;key&gt;</strong></code></pre>

                    <p class="">
                        In your HTTP headers:
                    </p>
                        <pre><code class="http">X-Debug-My-HTTP: <strong>&lt;key&gt;</strong></code></pre>

                    <p class="">
                        Put it in the HTTP body with:
                    </p>
                        <pre><code class="Bash">$ curl -X POST -d '<strong>&lt;key&gt;</strong>' http://<span class="self_hostname"></span>/testmycall/</code></pre>
                </div>

                <p class="text-center"><strong>- finally -</strong></p>

                <!-- Button trigger modal -->
                <div style="width: 50%; margin: 0 auto;">
                    <p class="text-center">
                        <button onclick="gotoLoggerPage();" id="showmethecallsbutton" class="fancybox btn btn-primary btn-lg disabled">Show me the calls</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="comments_area">
    <div class="container">
        <div style="background-color: #ffffff; margin-bottom: 60px;" class="spot-im-frame-inpage" data-post-id="debugmyhttp"></div>
    </div>
</div>

{% include footer.html %}
{% include ga.html %}
</body>
</html>