<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP log</title>
</head>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script>
    $(document).ready(function(){
        var ws = new WebSocket('ws://'+document.location.hostname+':'+document.location.port+'/log/{{ items[0] }}/ws');
        var $log = $("div#log");
        ws.onopen = function(){
            showLogItem('Websocket open...');
        };

        ws.onmessage = function(ev){
            var json = JSON.parse(ev.data);
            showLogItem(json);
        };

        ws.onclose = function(ev){
            showLogItem('closed');
        };

        ws.onerror = function(ev){
            showLogItem('error occurred');
        };

        function showLogItem(payload) {
            if (payload.request) {
                printHttpRequest(payload.request)
            } else if (payload.message) {
                $log.prepend("<span>"+payload.message+"</span>" + "<br/>");
            } else {
                $log.prepend("<span>"+payload+"</span>" + "<br/>");
            }
        }

        function printHttpRequest(request) {
            $log.prepend(request + "<br/><br/>");
        }

    });
</script>
<body>
<pre>
<div id="log">

</div>
</pre>
</body>
</html>