<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP log</title>

    {% include head_section.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
        function clearLog() {
            var $log = $("div#log");
            $log.html("");
        }
    </script>

</head>

<script>
    $(document).ready(function(){
        // set the hostname in the examples
        $('span.self_hostname').html(document.location.hostname+":"+document.location.port);

        var ws = new WebSocket('ws://'+document.location.hostname+':'+document.location.port+'/log/{{ items[0] }}/ws');
        var $log = $("div#log");
        ws.onopen = function(){
            showLogItem('Websocket open...');
            $('span.status_value').html('capturing');
        };

        ws.onmessage = function(ev){
            var json = JSON.parse(ev.data);
            showLogItem(json);
        };

        ws.onclose = function(ev){
            stopCapturing();
        };

        ws.onerror = function(ev){
            $('span.status_value').html('error occurred');
        };

        function showLogItem(payload) {
            if (payload['request']) {
                printHttpRequest(payload);
                receivingIndication();
            }  else if (payload['type'] == 'alert') {
                if(payload['event'] == "limit_reached") {
                    stopCapturing();
                }
                $log.prepend('<div class="alert alert-danger" role="alert"><strong>Alert! </strong>'+payload['message']+'</div>');
            } else if (payload['message']) {
                $log.prepend("<span>"+payload.message+"</span>" + "<br/>");
            }

            $('#counter').html(payload['request_count']);
            $('#request_limit').html(payload['request_limit']);
        }

        function printHttpRequest(request) {
            var html = "";
            html += '<div class="panel panel-default">';
            html += '<div class="panel-heading httprequest_header">';
            html += '<h5 class="panel-title small-font"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> '+'From: '+request['source_ip']+'</h5>';
            html += '</div>';
            html += '<div class="nopadding panel-body"><pre class="httprequest_container">';
            html += request['request'];
            html += '</pre></div>';
            html += '</div>';
            $log.prepend(html);
        }

        setInterval(function() {
            if (ws.bufferedAmount == 0)
                var ping = JSON.stringify({'type': 'ping'})
                ws.send(ping);
        }, 10000);

        function stopCapturing() {
            console.info("dfdfdf");
            $('span.status_value').html('not capturing');
        }

        function receivingIndication() {
            var status_value = $('span.status_value');
            var original_value = status_value.html();
            status_value.html('receiving traffic');
            setTimeout(function() {
                status_value.html(original_value);
            }, 500);
        }

    });
</script>

<style type="text/css">

    #socket_status {
        display: inherit !important;
    }

</style>


<body>
{% include navbar.html %}
<div class="container">
    <p>
        Use this URL in your application
    </p>
    <pre>http://<span class="self_hostname"></span>/testmycall/newdata/<strong>{{ items[0] }}</strong></pre>
    <div id="log">

    </div>
</div>
{% include footer.html %}
{% include ga.html %}
</body>
</html>