<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Captured HTTP traffic log</title>

    {% include head_section.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
        function clearLog() {
            var $log = $("div#log");
            $log.html("");
        }
    </script>
</head>

<script type="text/javascript">

    var stored_filterArray = localStorage.getItem('debugmyhttp_filter_checkboxes');

    if(stored_filterArray) {
        var filterArray = JSON.parse(stored_filterArray);
    } else {
        var filterArray = {
            'hide_websocket': true,
        };
    }

    function stopCapturing() {
        $('span.status_value').html('not capturing');
    }

    function receivingIndication() {
        var status_value = $('span.status_value');
        status_value.html('receiving traffic');
        setTimeout(function() {
            status_value.html("capturing");
        }, 500);
    }

    function checkboxChanges() {
        $("input[id^='hide_']").each(function (i, e){
            filterArray[e.name] = e.checked;
        });
        localStorage.setItem('debugmyhttp_filter_checkboxes', JSON.stringify(filterArray));
    }

    $(document).ready(function(){
        // set filter checkboxes
        $("input[id^='hide_']").each(function (i, e){
            $('input#'+e.name).prop("checked", filterArray[e.name]);
        });

        $('span#location_hostname').html(document.location.hostname);

        // set the hostname in the examples
        $('span.self_hostname').html(document.location.hostname+":"+document.location.port);

        var ws = new WebSocket('ws://'+document.location.hostname+':'+document.location.port+'/log/{{ items["bucket"] }}/ws');
        var $log = $("div#log");
        ws.onopen = function(){
            showLogItem('Websocket open...');
            $('span.status_value').html('capturing');
        };

        ws.onmessage = function(ev){
            var json = JSON.parse(ev.data);
            showLogItem(json);
        };

        ws.onclose = function(ev){
            stopCapturing();
        };

        ws.onerror = function(ev){
            $('span.status_value').html('error occurred');
        };

        setInterval(function() {
            if (ws.bufferedAmount == 0)
                var ping = JSON.stringify({'type': 'ping'})
            ws.send(ping);
        }, 10000);

        function printHttpRequest(request) {
            var firstline = request['request'].split('\n')[0];
            var html = "";
            html += '<div class="panel panel-default">';
            html += '<div class="panel-heading httprequest_header">';
            html += '<span><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> '+request['source_ip']+' <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> '+firstline+'</span>' + '<span class="hidden-sm" style="float: right;">'+request['datetime']+' UTC</span>';
            html += '</div>';
            html += '<div class="nopadding panel-body"><pre class="httprequest_container"><code class="http">';
            html += request['request'];
            html += '</code></pre></div>';
            html += '</div>';
            $log.prepend(html);
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        }

        function showLogItem(payload) {
            if (payload['request']) {
                // check if a filter is in effect
                if (filterArray['hide_websocket']) {
                    var loc = payload['request'].indexOf('Upgrade: websocket');
                    if (loc > -1) {
                        return
                    }
                }

                printHttpRequest(payload);
                receivingIndication();
            }  else if (payload['type'] == 'alert') {
                if(payload['event'] == "limit_reached") {
                    stopCapturing();
                }
                $log.prepend('<div class="alert alert-danger" role="alert"><strong>Alert! </strong>'+payload['message']+'</div>');
            } else if (payload['message']) {
                $log.prepend("<span>"+payload.message+"</span>" + "<br/>");
            }

            $('#counter').html(payload['request_count']);
            $('#request_limit').html(payload['request_limit']);
        }
    });
</script>

<style type="text/css">

    #socket_status {
        display: inherit !important;
    }

    #toolbar_indicator {
        display: inherit !important;
    }

    .hljs {
        padding: 0px !important;
    }
</style>

<body>
{% include navbar.html %}

<div class="light_background">
    <div class="container">
        <p>
            Use this URL in your application
        </p>
        <pre>http://<span class="self_hostname"></span>/testmycall/newdata/<strong>{{ items['bucket'] }}</strong></pre>
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" onchange="checkboxChanges()" id="hide_websocket" name="hide_websocket" value="1">
                                Hide WebSocket requests
                            </label>
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
        <div id="log">

        </div>
        <div style="background-color: #fff; margin-bottom: 0px;" class="spot-im-frame-inpage" data-post-id="debugmyhttp-{{ items['bucket'] }}"></div>
    </div>

</div>
{% include footer.html %}
{% include ga.html %}
</body>
</html>