<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Debug HTTP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav" id="socket_status">
                <li style="width: 404px; margin: 14px;">
                    <span class="status_text">Status: <span class="status_value"></span></span>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li style="float: right; margin: 14px;">
                    <button type="button" class="btn btn-info btn-xs" onclick="javascript:clearLog();">clear log</span></button>
                </li>
                <li style="float: right; margin: 14px;">
                    <span class="badge" id="counter">0</span>
                </li>


            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>